@{
    Layout="~/Views/Shared/_Layout.cshtml";
    ViewData["title"]="Permission Page";
}





<div class="content w-100 ml-2 mt-2 p-2 mr-0" id="content">
                <div class="first-part d-flex justify-content-between pr-2">
                    <h2>Permissions</h2>
                    <div class="btn btn-nonprimary no-imp" id="Back"><i class="fa fa-angle-left m-1" aria-hidden="true"></i>Back</div>
                </div>
                <div class="permission-cls d-flex flex-column pl-2 mt-2">
                    <div class="form-group m-2 pt-4 w-100">
                        <input type="text" class="form-control w-25" placeholder="Account Manager">
                    </div>
                    <div class="permission-content d-flex p-2">
                        <div class="col">
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" value="" id="p1"/>
                                <label for="p1" class="header-per form-check-label" ><h3 class="header-per">Permission</h3></label>
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" value="" id="p2"/>
                                <label for="p2" class=" form-check-label" >Users</label>
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" value="" id="p3"/>
                                <label for="p3" class=" form-check-label" >RoleAndPermission</label>
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" value="" id="p4"/>
                                <label for="p4" class=" form-check-label" >Menu</label>
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" value="" id="p5"/>
                                <label for="p5" class=" form-check-label" >TableAndSection</label>
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" value="" id="p6"/>
                                <label for="p6" class=" form-check-label" >TaxAndFees</label>
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" value="" id="p7"/>
                                <label for="p7" class=" form-check-label" >Order</label>
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" value="" id="p8"/>
                                <label for="p8" class=" form-check-label" >Customer</label>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <div class="first-per col d-flex flex-column align-items-center">
                                <h3 class="header-per">Can View</h3>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                            <div class="second-per col d-flex flex-column align-items-center">
                                <h3 class="header-per">Can Add/Edit</h3>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                            <div class="third-per col d-flex flex-column align-items-center">
                                <h3 class="header-per">Can Delete</h3>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="w-100">
                        <div class="col-auto d-flex justify-content-end">
                            <button class="btn btn-nonprimary imp m-2 col-1">
                                Save
                            </button>
                            <button class="btn btn-nonprimary no-imp m-2 col-1">
                                Cancle
                            </button>
                        </div>
                    </div>
                </div>
</div> 