html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.profile{
  height: 30px;
  width: 30px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content{
  background-color: #D8EFF7;
  
}
body, html{
  height: 100%;
  width: 100%;
}
.container-fluid{
  height: 100%;
  width: 100%;
  background-color: #D8EFF7;
}
.left-section{
  height: 100%;
}
.left-section img{
  height: 100%;
  object-fit: cover;
}
.logo-container{
  height: 2%;
  width: 100%;
}
.right-section .logo-container img{
  height:auto;
  width: 60px;
}

.logo-container h1{
  text-align: center;
  color: #046B93;
  font-size: 2.5rem;
}
.btn-nonprimary{
  background-color: #0066A8;
}
#sidebar-close{
  width: 40px !important;
  height: 100%;
}
.dropdown-profile-part{
  border-bottom: 1px solid;
  border-color: #d1cccc;
}
.dropdown-item:hover{
  background-color: #e3e4e6;
}

.dropdown-menu.show{
  position: relative;
  top: 30px;
  right: 180px;
}
.right-section h3{
  color: #4C5556;
}
.msg{
  color: #6dafce;
}
.dash-logo-container img{
 width: 60px;
 height: auto;
}
.dash-logo-container p{
  color: #046B93;
  font-size: 1.3rem;
}
.custom-side{
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1;
}
.side-bar{
  /* position: absolute;
  top: 0;
  left: -337px; */
  background-color: #ffffff;
  height: 100%;
}
/* ::-ms-reveal {
  display: none;
} */
.list-group .list-group-item:hover{
  background-color: #E9EAEB;
}
.navbar{
   background-color: #0066A7;
   height: 5%;
}
.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.validation-msg{
  color: rgba(250, 64, 64, 0.692);
}
/* @media screen and (max-width:990px) {
  #menu{
      opacity: 1;
  }
  
} */
.second-part-dashboard div div{
  background-color: #ffffff;
  border-radius: 10px;
}
.second-part-img-cont{
  border: 3px solid #cac3c3 !important;
  border-radius: 100% !important;
  height: 45px;
  width: 45px;
}
.content{
  height: 95%;
}
.first-part h2{
  color: #0668A8;
}
#dropdownMenuButton{
  background-color: #ffffff;
  width: 100%;
}
#adduser{
  background-color: #0066A7;
  color: #ffffff;
}

.tbl{
  box-shadow: -4px 5px 8px 6px #a6a8b11a;
  background-color: #ffffff;
}

.no-imp{
  border: 1px solid #0668A8 !important;
  color: #0066A8 !important;
  text-align: center !important;
  width: 150px !important;
}
.imp{
  background-color: #0066A8 !important;
  color: #ffffff !important;
  width: 150px !important;
}
button{
  border: 1px solid #0668A8;
  color: #0066A8;
  text-align: center;
}
#upload-in{
  position: relative;
  opacity: 0;
  top: 0;
 
  /* opacity: 0; */
}
a{
  color: #4C5556 !important;
}

/* .add-user-form .form-floating label:focus{
  transform: scale(0.5) translateX(2px) translateY(5px) !important;
} */

.profile-info-pic{
  position: relative;
  top: -35px;
}

#camera-icon{
  position: relative;
  bottom: -45px;
  left: -35px;
}

.background-profile{
 height: 70px;
}
.nav-content{
  background-color: #D8EFF7;
}
.upload-t{
  font-size: 20px;
}
.header-per{
  font-size:larger;
}
#cloud-upload{
  width: 25px !important;
  height: 25px !important;
}
.add-user-form{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -4px 5px 8px 6px #a6a8b11a;
}
#upload{
  background-color: #ffffff;
  height: 150px;
  border: 1px solid #d1cccc;
}
#Cancle{
width: 150px !important;
height: 38px;
}
.dropdown button{
  border: 1px solid #d1cccc;
}
#upload-in::-webkit-file-upload-button {
  visibility: hidden;
}
.permission-cls{
  background-color: #ffffff;
  border-radius: 5px;
}
/* .active{
  border-style: none none solid none !important;
  border-color: #0066A8 !important;
  background-color: #ffffff !important;
}

.active a{
  border: 0 !important;
  color: #0066A8 !important;
} */
/* .nav-tabs{
  background-color: #ffffff !important;
  border: 0 !important;
}

.nav-link{
  background-color: #ffffff !important;
  color:#4C5556 !important;
} */
.main-content{
  background-color: #ffffff;
}
#spc{
  height: 400px;
}
.add-Category{
  border: 1px solid #0066A8 !important;
  color: #0066A8 !important;
}
.Category{
  color: #0066A8;
}
#categories a{
  border: 0;
}
.common-style{
  background-color: #ffffff;
}
.nav-item{
  width: 10rem;

}
.selected-tab{
  color: #0066a8 !important;
  border-style: none none solid none !important;
  border-color: #0066A8 !important;
  background-color: #ffffff;
}
.border-dashed{
  border: 1px dashed !important;
}
.common-checkbox-modal{
  width: 3.5rem !important;
  height: 30px;
  margin-right: 1rem !important;
}
#myTab{
  height: 3rem;
}
#Add-existing-group{
  color: #0066A7 !important;
}
.warning-img{
  width: 60px;
  height: 60px;
}
.categories-list-sec{
  border-style: none solid none none;
  border-width: 0.5px;
  border-color: #0066A8;
}
.delete-btn{
  border: 0.5px solid #0066A8 !important;
}
.img-vn{
  width: 15px;
  height: 15px;
}
.content-role{
  background-color: #ffffff;
}
.custom-active{
  background-color: #E9EAEB !important;
  color: #0066A8 !important;
}