@{
    ViewData["titel"] = "reset page";
    Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="text-md-left text-sm-center text-center">
    <h4 class="mb-3">Reset Password</h4>
</div>

<form class="d-flex flex-column">
    <div class="input-group mb-2">
        <input type="password" class="form-control" name="Password" placeholder="New Password" id="pass"
            aria-label="Password" aria-describedby="basic-addon1" required>
        <span class="input-group-text" id="eye-icon">
            <i class="fa fa-eye" id="eye" aria-hidden="true"></i>
        </span>
    </div>
    <p class="validation-msg" id="pass-msg"></p>
    <div class="input-group mb-2">
        <input type="password" class="form-control" name="conf-pass" placeholder="Confirm New Password" id="conf-pass"
            aria-label="Password" aria-describedby="basic-addon1" required>
        <span class="input-group-text" id="eye-icon1">
            <i class="fa fa-eye" id="eye1" aria-hidden="true"></i>
        </span>
    </div>
    <p class="validation-msg" id="cnf-msg"></p>

    <button class="btn btn-nonprimary" id="submit" type="submit">Submit</button>
    <div class="mt-2 text-center">
        <a href="/Authenticate/Login">Back To Login</a>
    </div>
    
</form>
<script>
    @* validating password and conf password *@
        $("#submit").click((e) => {
            e.preventDefault();

            var passwordPattern = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{8,}$/;

    @* taking input by id *@
            var pass = $("#pass").val();
            var cnfpass = $("#conf-pass").val();

    @* console.log(pass); *@
    @* console.log(cnfpass); *@
            if(pass == ""){
                $("#pass-msg").text("Please Enter New password.");
                return;
            }
            if(cnfpass == ""){
                $("#cnf-msg").text("Please Enter confirm password.");
                return;
            }
            if (pass != cnfpass) {
    @{
        TempData["error"] = "New Password and Confirm Password is not matching.";
    }
    window.location.reload();
            return;
            }else{
                if(!passwordPattern.test(pass)){

                    $("#pass-msg").text("The password must contain 1 special character,1 number,1 small character,1 capital character and must be 8 character long.");
                    TempData["error"] = "Your Entered Password is not strong."
                    return ;
                }
                 $.ajax({
                    url: "/Authenticate/Resetpage",
                    type: "POST",
                    data: {
                        password: pass
                    },
                    success: (response) => {
                        if (response.success) {
                            window.location = "/Authenticate/Login"
                        } else {
                            window.location.reload();
                        }
                    },
                    error: () => {
                    }
                });
            }
        })
        $("#pass").on("input",() => {
            $("#pass-msg").text("");
        })
        $("#conf-pass").on("input",() => {
            $("#cnf-msg").text("");
        })

</script>