@model PizzaShop.Repository.ViewModels.ItemsandCategories

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<div class="content w-100 ml-2 p-2 mr-0" id="content">
    <div class="first-part d-flex justify-content-between pr-2">
        <h2>Menu</h2>
    </div>
      <ul class="nav nav-underline mt-2 tab-item bg-white me-4 w-100" id="myTab" role="tablist">
        <li class="nav-item " role="presentation">
            <div class="selected-tab d-flex text-center h-100 align-items-center justify-content-center w-100 fs-5" id="Items" ><i class="fa fa-list-ul m-2" aria-hidden="true"></i><p class="m-0">Items</p></div>
        </li>
        <li class="nav-item " role="presentation">
            <div class="b-0 d-flex text-center align-items-center justify-content-center h-100 w-100 fs-5" id="Modifiers" ><i class="fa fa-th-large m-2" aria-hidden="true"></i> <p class="m-0">Modifiers</p></div>
        </li>

    </ul>
    <div class="tab-content h-75 m-3">
        <div class="main-content tab-pane active row d-flex p-2 " id="home">
            @await Html.PartialAsync("_ItemPartialView",Model)

        </div>

        <div class="modal fade" id="delete-conf" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Delete Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="~/images/toppng.com-warning-icon-2400x2400.png" alt="warning" class="warning-img">
                        <p>Are you sure you want to delete this item?</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-nonsecondary imp" data-bs-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-nonprimary imp" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {

        $("#Items").on("click", () => {
        $("#Items").addClass("selected-tab");
         $("#Modifiers").removeClass("selected-tab");
                $.ajax({
                    url: "/MenuModule/ForItems",
                    type: "GET",
                    success: (data) => {
                        $("#home").html(data);
                    }
                });

        });

        $("#Modifiers").on("click", () => {
            $("#Modifiers").addClass("selected-tab");
            $("#Items").removeClass("selected-tab");
            $.ajax({
                url: "/MenuModule/ForModifiers",
                type: "GET",
                success: (data) => {
                    $("#home").html(data);
                }
            });
        });

    })
</script>